<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo suite" verbose="1">
    <test name="Demo Test">
        <classes>
            <class name="tests.testng.BasicGoogleTests">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExist"/>
                </methods>

            </class>
            <class name="tests.testng.softA"/>
        </classes>
    </test>
</suite>